@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

footer{
  height: 100%;
  background-color: #794E4E;
  color: var(--cor-branca);
  
}

.rodape__titulo{
    text-align: center;
    padding-top: 20px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 100;
   
    
}

.container{
  display: grid;
  grid-template-columns: 160px 160px 160px;
  justify-content: space-around;
  gap: 4px;

}

.item{
  background-color: #FFFFFF;
  color: black;
  height: 140px;
  
  margin: 10px;
  border-radius: 20px;
}
p{
  text-align: center;
  font-family: Inter;
  font-size: 20px;
}

