<footer class="rodape">
  <h3 class="rodape__titulo">Autores</h3>
  <section class="container">
    <div>
      <div class="item"></div>
      <p>Ryan</p>
    </div>
    <div>
      <div class="item"></div>
      <p>Henrique</p>
    </div>
    <div>
      <div class="item"></div>
      <p>Marcos</p>
    </div>
    <div>
      <div class="item"></div>
      <p>Lívia</p>
    </div>
    <div>
      <div class="item"></div>
      <p>Jorge</p>
    </div>
    <div>
      <div class="item"></div>
      <p>Ronaldo</p>
    </div> 
    <div>
      <div class="item"></div>
      <p>Kauê</p>
    </div>
    
  </section>
  
</footer>
